.Track {
    background-color: white;
    border-bottom: 4px solid rgb(80, 80, 80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.TrackInfo h4 {
    color: rgb(100, 100, 100);
}

.Track button {
    height: 40%;
    width: auto;
    cursor: pointer;
}