.searchDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.searchBar {
    width: 500px;
    font-size: 3rem;
    text-align: center;
}

.searchButton {
    width: 50%;
    font-size: 1.5rem;
    cursor: pointer;
}