body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  background-image: url("../src/assets/jammming_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}